/********** Base styles **********/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Comic Sans MS';
}

heading{
    font-size: 1.5em;
    text-align: center;
}
section {
    float: left;
    border: solid black ;
    background-color: darkgrey;
}
.section_container {
    border: solid;
    overflow: auto;
}
.category {
    margin: 0;
    float: right;
    width: 40%;
    text-align: center;
    border-top: none;
    border-right: none;
    border-bottom: solid;
    border-left: solid;
    font-size: 1.75em;
}
.description {
    float: left;
    font-size: 1.25em;
}
#chicken {
    background-color: lightcoral;
}
#beef {
    background-color: brown;
}
#sushi {
    background-color: burlywood;
}

/* Simple Responsive Framework. */
.row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: auto;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 32%;
    }
}
    /********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 45%;
    }
}
/********** Small devices only **********/
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        border: 1px solid green;
        width: 100%;

    }
}
        


